__pycache__/
*.py[cod]
*$py.class

*.so


build/
dist/
*.egg-info/
.eggs/


pip-log.txt
pip-delete-this-directory.txt

venv/
ENV/
env/
.env/


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


*.db
*.sqlite3


.coverage
htmlcov/
.tox/
.nox/
pytest_cache/


.DS_Store


*.log
.env
.env
